*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/*/gwt/
gwt-unitCache/
war/*/*.gwt.rpc

# boilerplate generated classes #
.apt_generated/
war/withtemplates/**/*
*.cache.js
*.nocache.js
*.devmode.js

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

#compilation logs
.gwt/

#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/

#app-engine...
**/appengine-generated/*

clear.cache.gif
compilation-mappings.txt
